<div class="container">
  <div class="calc-body">
    <div class="calc-screen">
      <div class="calc-operation"></div>
      <div class="calc-typed">{{resulte}}<span class="blink-me">_</span></div>
    </div>
    <div class="calc-button-row">
      <div (click)="getAction(item)"  *ngFor="let item of['+','-','*','/']" class="button c">{{item}}</div>
    </div>
    <div class="col" >
      <div (click)="equal()" class="button l c">=</div>
    </div>
    <div class="calc-button-row">
      <div (click)="getAction(item)" *ngFor="let item of[7,8,9]" class="button ">{{item}}</div>
    </div>
    <div class="calc-button-row">
      <div (click)="getAction(item)"  *ngFor="let item of[4,5,6]" class="button ">{{item}}</div>
    </div>
    <div class="calc-button-row">
      <div (click)="getAction(item)"  *ngFor="let item of[1,2,3]" class="button ">{{item}}</div>
    </div>
    <div class="calc-button-row">
      <div (click)="getAction(item)"  *ngFor="let item of['.',0]" class="button">{{item}}</div>
      <div (click)="reset()" class="button c">AC</div>
      </div>
    </div>
  </div>

<router-outlet></router-outlet>
